* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url('images/contactPage.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* nav bar */
.nav-bar {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.nav-bar-icon {
    position: absolute;
    top: 20px;
    left: 93.5%;          
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.nav-bar-icon:hover {
    transform: translateX(-50%) scale(1.05);
}

/* Side navigation container */
.sidenav {
    height: 100%;
    width: 0; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Stays on top of everything */
    top: 0;
    right: 0;
    background-color: #78709A; /* Matches the base color of your SVG rect */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.4s ease; /* Slide animation speed */
    padding-top: 60px; /* Place content sixtypx from the top */
}

/* Side nav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F3F3F3; /* Matches your SVG inner light gray */
    display: block;
    transition: 0.3s;
    font-family: sans-serif;
}

/* Hover effects for links */
.sidenav a:hover {
    color: #C0C1FF; /* Matches your SVG light blue */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}