* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    line-height: 50px;
    position: absolute;
    top: 150px;
    left: 40%;
}


/* nav bar */
.navBar {
    position: absolute;
    top: 5px;
    left: 92%;         
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.navBar:hover {
    transform: translateX(-50%) scale(1.05);
}


/* interactive desk */
.table {
    position: absolute;
    top: 550px;
    left: 50%;         
    transform: translateX(-50%);  /* centers perfectly over the middle line */
    display: inline-block; /* Keeps the link area tracking with the image size */
    transition: transform 0.3s ease-in-out;
}

.laptop {
    position: absolute;
    top: 340px;
    left: 50%;           
    transform: translateX(-50%);  /* centers perfectly over the middle line */
    display: inline-block; /* Keeps the link area tracking with the image size */
    transition: transform 0.3s ease-in-out;
}

.laptop:hover {
    /* CRITICAL: You must keep translateX(-50%) here so it stays centered while scaling! */
    transform: translateX(-50%) scale(1.05); /* 1.1 means it grows to 110% of its size */
}

.monitor {
    position: absolute;
    top: 300px;
    left: 26%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.monitor:hover {
    transform: translateX(-50%) scale(1.05);
}

.resume {
    position: absolute;
    top: 655px;
    left: 33%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.resume:hover {
    transform: translateX(-50%) scale(1.1);
}

.artwork1 {
    position: absolute;
    top: 550px;
    left: 72%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.artwork1:hover {
    transform: translateX(-50%) scale(1.1);
}

.artwork2 {
    position: absolute;
    top: 520px;
    left: 69.5%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.artwork2:hover {
    transform: translateX(-50%) scale(1.1);
}

.figma-sticky {
    position: absolute;
    top: 342px;
    left: 20.5%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.figma-sticky:hover {
    transform: translateX(-50%) scale(1.2);
}

.github-sticky {
    position: absolute;
    top: 589px;
    left: 80%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.github-sticky:hover {
    transform: translateX(-50%) scale(1.2);
}

.sticky {
    position: absolute;
    top: 480px;
    left: 80.5%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.sticky:hover {
    transform: translateX(-50%) scale(1.2);
}

.mail-sticky {
    position: absolute;
    top: 720px;
    left: 71%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.mail-sticky:hover {
    transform: translateX(-50%) scale(1.2);
}

.linkedin-sticky {
    position: absolute;
    top: 710px;
    left: 68%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.linkedin-sticky:hover {
    transform: translateX(-50%) scale(1.2);
}

.mobil-sticky {
    position: absolute;
    top: 740px;
    left: 78%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.mobil-sticky:hover {
    transform: translateX(-50%) scale(1.2);
}

.mouse {
    position: absolute;
    top: 650px;
    left: 64%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.mouse:hover {
    transform: translateX(-50%) scale(1.1);
}

.keyboard {
    position: absolute;
    top: 610px;
    left: 50%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.keyboard:hover {
    transform: translateX(-50%) scale(1.05);
}

.pencil1 {
    position: absolute;
    top: 700px;
    left: 22%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.pencil1:hover {
    transform: translateX(-50%) scale(1.1);
}

.pencil2 {
    position: absolute;
    top: 645px;
    left: 19%;           
    transform: translateX(-50%);
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.pencil2:hover {
    transform: translateX(-50%) scale(1.1);
}