* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background: url('images/projectsPage.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;
}